@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@300&family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --black: #272a31;
  --orange: #ec5242;
  --light-grey: #d3d3d3;
  --grey: #4b4c4e;
  --font-main-heading: 'Dela Gothic One', cursive;
  --font-heading: 'Nanum Gothic';
  --font-para: 'Lato';
}

.main-container {
  background: #f9f6f6 url(../images/about-bg.png);
  background-repeat: space;
}

/* navbar */
.nav-links.active ul li:nth-child(1) {
  pointer-events: initial;
  color: var(--grey);
  text-decoration: none;
}

.nav-links.active ul li:nth-child(5) {
  pointer-events: none;
  color: var(--orange);
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}

/* main */
.main h2.banner-heading3 {
  font-size: 1.9rem;
  line-height: 45px;
  text-transform: uppercase;
  font-family: var(--font-main-heading), sans-serif;
  font-weight: 800;
  color: var(--orange);
  margin-bottom: 20px;
}

.main-para {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f6f6;
  border: 3px solid #fff;
  padding: 22px;
}

.main-para p {
  font-size: 13px;
  font-family: var(--font-heading), sans-serif;
  line-height: 22px;
  font-weight: 100;
  color: var(--black);
  text-align: justify;
}

.main-line {
  margin: 16px 0;
  width: 20%;
  border: 10px dashed var(--orange);
}

.dated {
  font-family: var(--font-heading);
  font-size: 14px;
  color: var(--grey);
  line-height: 2rem;
  letter-spacing: 0.1rem;
  margin: 6px 0;
  font-weight: bold;
  text-align: center;
}

small.credits {
  font-family: var(--font-heading);
  font-size: 9px;
  font-weight: 100;
  line-height: 1rem;
  color: var(--black);
  letter-spacing: 0.1rem;
  margin: 26px 5%;
}

/* partner */
.section-heading {
  font-family: var(--font-heading), sans-serif;
  font-size: 1.8rem;
  color: var(--black);
  text-align: center;
}

.section-line {
  width: 15%;
  margin-top: 1rem;
  border: 1px solid var(--orange);
}

/* partner */

.partner {
  background: var(--black);
}

.partner .section-heading {
  color: #fff;
}

.partner .partner-label ul {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

@media only screen and (min-width: 768px) {
  .nav-links ul li:nth-child(1) {
    color: inherit;
    pointer-events: inherit;
  }

  .nav-links ul li:nth-child(5) {
    color: var(--orange);
    pointer-events: none;
  }

  .nav-links ul li:nth-child(1)::after {
    display: none;
  }

  /* desktop-hover-effects */
  .nav-links ul li:nth-child(5)::after {
    display: block;
  }

  .nav-links ul li:hover {
    color: var(--orange);
  }

  .nav-links ul li:hover::after {
    display: block;
  }
}

/* hover-effects */

.nav-links.active ul li:hover {
  color: var(--orange);
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}
