@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@300&family=Nanum+Gothic:wght@400;700;800&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #272a31;
  --orange: #ec5242;
  --light-grey: #d3d3d3;
  --grey: #4b4c4e;
  --font-main-heading: 'Dela Gothic One', cursive;
  --font-heading: 'Nanum Gothic';
  --font-para: 'Lato';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.social-fix {
  display: none;
  position: absolute;
  background-color: var(--black);
  width: 100%;
  height: 3rem;
}

.main-container {
  /* padding: relative; */
  background: url(../images/main-background.png) no-repeat;
  background-position: center;
  background-size: cover;
}

/* navbar */
.navbar {
  padding: 15px 20px;
}

.navbar img,
#join-us-link {
  display: none;
}

.navbar div.mob-nav {
  position: relative;
  width: 47px;
  height: 40px;
  padding: 2px;
  cursor: pointer;
}

.navbar div.mob-nav .rec {
  position: absolute;
  display: block;
  width: 36px;
  height: 7px;
  background: var(--grey);
}

.rectangle {
  top: 4px;
}

.rectangle1 {
  top: 14px;
}

.rectangle2 {
  top: 24px;
}

.navbar .nav-links ul {
  display: none;
}

.navbar.active {
  position: absolute;
  background-color: #f9f6f6;
  box-shadow: 10px 10px 49px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 49px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 49px 6px rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  width: 60%;
  height: 35.5rem;
  z-index: 10;
}

nav.active {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-links.active {
  height: 50%;
}

.nav-links.active ul {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav-links.active ul li {
  font-family: var(--font-heading), sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  color: var(--grey);
}

.nav-links.active ul li:nth-child(1) {
  pointer-events: none;
  color: #ec5242;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}

/* main */

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  padding: 0 5% 60px 5%;
}

.main.active {
  margin-top: 8.45rem;
}

.main h1.hello-world {
  font-family: var(--font-heading), sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: var(--orange);
}

.main h2.banner-heading {
  background-image: url(../images/header-text-bg.jpg);
  background-repeat: repeat;
  background-clip: content-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 1.9rem;
  line-height: 45px;
  text-transform: uppercase;
  font-family: var(--font-main-heading), sans-serif;
  font-weight: 900;
  color: var(--orange);
  margin-bottom: 20px;
}

.main p.main-para {
  font-size: 13px;
  font-family: var(--font-heading), sans-serif;
  line-height: 22px;
  font-weight: 100;
  color: var(--black);
  background-color: #f9f6f6;
  border: 3px solid #fff;
  padding: 22px;
  text-align: justify;
}

.main small.dated {
  font-family: var(--font-main-heading);
  font-size: 22px;
  color: var(--grey);
  line-height: 2rem;
  letter-spacing: 0.15rem;
  margin: 6px 0;
}

.main small.credits {
  font-family: var(--font-heading);
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  letter-spacing: 0.1rem;
  margin-bottom: 26px;
}

/* program */

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(39, 42, 50) url(../images/pattern_bg.png) repeat;
  background-size: 50px;
  width: 100%;
  padding: 10%;
}

.section-heading {
  font-family: var(--font-heading), sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.section-line {
  width: 15%;
  margin-top: 1rem;
  border: 1px solid var(--orange);
}

.program .cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.program .card {
  padding: 6%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}

.program .card h3 {
  flex: 1;
  font-family: var(--font-heading), sans-serif;
  font-size: 0.8rem;
  word-break: break-word;
  font-weight: 600;
  color: var(--orange);
  text-align: center;
}

.program .card p {
  flex: 2;
  font-family: var(--font-para), sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: #fff;
}

.program .program-link {
  margin-top: 2rem;
  font-family: var(--font-para), sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  align-self: flex-end;
}

/* speaker */

.speakers {
  width: 100%;
  background: #fff;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers .section-heading {
  color: var(--black);
}

.speakers .cards {
  display: grid;
  grid-template-columns: 1fr;
}

.speakers .card {
  margin-top: 60px;
  display: flex;
  gap: 1rem;
}

.speakers .card img {
  width: 150px;
  height: 150px;
}

.speakers .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.speakers .card-content .card-title {
  font-family: var(--font-heading), sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
}

.speakers .card-content .card-occupation {
  font-family: var(--font-para), sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--orange);
}

.speakers .card-content .card-line {
  margin: 5px 2px;
  width: 10%;
}

.speakers .card-content .card-detail {
  font-family: var(--font-para), sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--black);
}

.speakers .speaker-btn {
  margin: 20px 2px;
  padding: 1.2rem;
  border: 2px solid var(--orange);
  background-color: var(--orange);
  color: #fff;
  width: 100%;
  font-family: var(--font-heading), sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: bolder;
}

.speakers .speaker-btn.active {
  display: none;
}

/* partners */

.partner {
  width: 100%;
  background: #fff;
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner .section-heading {
  color: var(--black);
}

.partner div.partner-label ul {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.partner div.partner-label img {
  width: 90px;
}

/* footer */

.footer {
  border-top: 3px solid #f9f6f6;
  padding: 10%;
  display: flex;
  gap: 5%;
  align-items: center;
  justify-content: center;
}

.footer .img {
  width: 150px;
  height: 120px;
}

.footer h2 {
  font-family: var(--font-heading), sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--black);
  margin-bottom: 1rem;
}

.footer .footer-para {
  font-family: var(--font-para), sans-serif;
  font-size: 0.8rem;
  font-weight: 900;
  color: var(--black);
}

@media only screen and (min-width: 768px) {
  .social-fix {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0 3rem;
  }

  .social-fix img {
    width: 1rem;
    height: 1rem;
  }

  .social-fix a {
    font-family: var(--font-para), sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #f9f6f6;
  }

  .main-container {
    position: relative;
  }

  .navbar {
    padding-top: 3rem;
  }

  .navbar nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 3%;
  }

  .navbar img {
    display: block;
    width: 120px;
    height: 50px;
  }

  .mob-nav {
    display: none;
  }

  .navbar .nav-links ul {
    display: flex;
    gap: 2.5rem;
  }

  .nav-links ul li {
    position: relative;
    font-family: var(--font-heading), sans-serif;
    font-size: 0.9rem;
    font-weight: bolder;
    color: var(--grey);
    line-height: 1rem;
    letter-spacing: 0.15rem;
    margin: 6px 0;
  }

  nav #join-us-link {
    display: block;
    font-family: var(--font-heading);
    font-weight: bolder;
    color: var(--orange);
    padding: 10px 20px;
    border: 3px solid var(--orange);
  }

  .nav-links ul li:nth-child(1) {
    color: #ec5242;
    pointer-events: none;
  }

  .nav-links ul li::after {
    content: '';
    display: none;
    width: 100%;
    height: 0.3rem;
    margin-top: 2px;
    background-color: #ec5242;
    position: absolute;
  }

  .nav-links ul li:nth-child(1)::after {
    display: block;
  }

  /* main-desktop */

  .main {
    width: 100%;
    padding: 70px 60px 60px 120px;
  }

  .main h2.banner-heading {
    font-size: 46px;
    line-height: 60px;
  }

  .main p.main-para {
    font-size: 13px;
    line-height: 22px;
    font-weight: 200;
    padding: 22px;
    width: 36rem;
  }

  /* program-desktop */
  .program {
    padding-left: 6%;
    padding-right: 6%;
  }

  .program .cards {
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  .program .card {
    gap: 0.7rem;
    width: 20%;
    flex-direction: column;
    padding: 0.4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .program .card h3 {
    font-size: 1rem;
    margin-bottom: 3px;
  }

  .program .card p {
    flex: 2 1 50%;
    font-size: 0.9rem;
    text-align: center;
  }

  .program .program-link {
    position: relative;
    align-self: center;
  }

  .program .program-link::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 2px;
  }

  /* speaker */
  .speakers {
    padding-bottom: 10px;
    border-bottom: 2px solid#f9f6f6;
  }

  .speakers .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  .speakers .card {
    gap: 1.5rem;
  }

  .speakers .card-content .card-occupation {
    font-size: 0.8rem;
  }

  .speakers .card-content .card-line {
    width: 15%;
  }

  .speakers .card-content .card-detail {
    font-size: 0.9rem;
  }

  .speakers .speaker-btn {
    width: fit-content;
    padding: 1rem 5rem;
    align-self: flex-end;
    background-color: #fff;
    color: #ec5242;
  }

  /* footer-desktop */

  .footer {
    padding: 3rem 10%;
    display: flex;
  }

  .footer img {
    width: 280px;
  }

  .footer h2 {
    font-size: 1rem;
  }

  /* hover-effects-desktop */

  .nav-links ul li:hover {
    color: #ec5242;
  }

  .nav-links ul li:hover::after {
    display: block;
  }

  nav #join-us-link:hover {
    color: #fff;
    background-color: #ec5242;
  }
}

.nav-links.active ul li:hover {
  color: #ec5242;
  text-decoration: underline;
  text-decoration-thickness: 0.3rem;
}
