@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@300&family=Nanum+Gothic:wght@400;700;800&display=swap');

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --black:#272A31;
    --orange:#EC5242;
    --light-grey:#D3D3D3;
    --grey: #4b4c4e;
    --font-main-heading:'Dela Gothic One', cursive;
    --font-heading:'Nanum Gothic';
    --font-para:'Lato';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.main-container{
    padding: relative;
    background: url(images/main-background.png) no-repeat;
    background-position: center;
    background-size:100% 100%;
}
/* navbar */
.navbar{
    padding:15px 20px;
}
.navbar div.mob-nav{
    position: relative;
    width: 47px;
    height: 40px;
    padding: 2px;
    cursor: pointer;
}
.navbar div.mob-nav .rec{
    position: absolute;
    display: block;
    width: 36px;
    height: 7px;
    background:var(--grey);
}
.rectangle{
    top:4px;
}
.rectangle1{
    top:14px;
}
.rectangle2{   
    top:24px;
}
.navbar div.nav-links ul{
    display: none;
}
.navbar.active{
    position: absolute;
    background-color:#f9f6f6;
    box-shadow: 10px 10px 49px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 49px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 49px 6px rgba(0,0,0,0.75);
    top:0;
    left: 0;
    width: 60%;
    height: 35.5rem;
    z-index: 10;
}
nav.active{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nav-links.active{
    height: 50%;
}
.nav-links.active ul{
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-links.active ul li{ 
   font-family: var(--font-heading),sans-serif;
   font-size: 1rem;
   font-weight: bolder;
   color: var(--grey);
}


/* main */

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    padding: 0 5% 60px 5%;
}
.main.active{
    margin-top: 8.45rem;
    
}
.main h1.hello-world{
    font-family: var(--font-heading),sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: var(--orange);

}

.main h2.banner-heading{
    background-image: url(images/header-text-bg.jpg);
    background-repeat: repeat;
    background-clip:text;
    -webkit-text-fill-color:transparent ;
    -webkit-background-clip: text;
    font-size: 1.9rem;
    line-height: 45px;
    text-transform: uppercase;
    font-family: var(--font-main-heading),sans-serif;
    font-weight:900;
    color: var(--orange);
    margin-bottom: 20px;
    
}

.main p.main-para{
    font-size: 13px;
    font-family: var(--font-heading),sans-serif;
    line-height: 22px;
    font-weight:100;
    color: var(--black);
    background-color: #f9f6f6;
    border: 3px solid #fff;
    padding: 22px;
    text-align: justify;
}

.main small.dated{
    font-family:var(--font-main-heading);
    font-size: 22px;
    color: var(--grey);
    line-height: 2rem;
    letter-spacing: .15rem;
    margin: 6px 0;
}

.main small.credits{
    font-family:var(--font-heading);
    font-size: 15px;
    font-weight: 500;
    color: var(--black);
    letter-spacing: .1rem;
    margin-bottom: 26px;
}

/* program */

.program{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(39, 42, 50) url(images/pattern_bg.png) repeat;
    background-size: 50px;
    width: 100%;
    padding: 10%;
}
.section-heading{
    font-family: var(--font-heading),sans-serif;
    font-size: 1.8rem;
    color: #fff;
}
.section-line{
    width: 15%;
    margin-top: 1rem;
    border: 1px solid var(--orange);
}
.program .cards{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.program .card{
    flex: 1;
    padding: 6%;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
}
.program .card h3{
    font-family: var(--font-heading),sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--orange);
}
.program .card p{
    font-family: var(--font-para),sans-serif;
    font-size: .7rem;
    font-weight: 400;
    color: #fff;
}
.program .program-link{
    margin-top: 2rem;
    font-family: var(--font-para),sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    align-self: flex-end;
}

/* speaker */

.speakers{
    width: 100%;
    background: #fff;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.speakers .section-heading{
    color: var(--black);
}
.speakers .cards{
    display: grid;
    grid-template-columns: 1fr;
}
.speakers .card{
    margin-top: 60px;
    display: flex;
    gap:1rem;
}
.speakers .card img{
    width:150px;
    height:150px ;
}
.speakers .card .card-content{
    display: flex;
    flex-direction: column;
    gap:.2rem;
}
.speakers .card-content .card-title{
    font-family: var(--font-heading),sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: var(--black);
}
.speakers .card-content .card-occupation{
    font-family: var(--font-para),sans-serif;
    font-size: .7rem;
    font-weight: 300;
    color: var(--orange);
}
.speakers .card-content .card-line{
    margin: 5px 2px;
    width: 10%;
}
.speakers .card-content .card-detail{
    font-family: var(--font-para),sans-serif;
    font-size: .8rem;
    font-weight: 900;
    color: var(--black);
}
.speakers .speaker-btn{
    margin: 20px 2px;
    padding: 1.2rem;
    border: 2px solid var(--orange);
    background-color:var(--orange);
    color:#fff;
    width: 100%;
    font-family: var(--font-heading),sans-serif;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    font-weight: bolder;
}

.speakers .speaker-btn.active{
    display: none;
}

/* partners */

.partner{
    width: 100%;
    background: #fff;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner .section-heading{
    color: var(--black);
}

.partner-label ul{
    margin-top: 1.5rem;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap: 2rem;
}
.partner-label img{
 width: 90px;
}
@media only screen and (min-width:768px){
 

    .navbar div.nav-links ul{
        display: flex;
        gap: 2rem;
    }

    /* main-desktop */

    .main{
        width: 100%;
        padding: 160px 60px 60px 120px;
        
    }

    .main h2.banner-heading{
        font-size: 46px;
        line-height: 60px;         
    }
    
    .main p.main-para{
        font-size: 13px;
        line-height: 22px;
        font-weight:200;
        padding: 22px;
        width: 36rem;
    }
    
     /* program-desktop */
     .cards{
        flex-direction: row;
        gap: .5rem;
     }
     .card{
        justify-content: center;        
        gap: 1rem;
        flex-direction: column;
        padding: 1rem;
     }

}