@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lato:wght@300&family=Nanum+Gothic:wght@400;700;800&display=swap');
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --black:#272A31;
    --orange:#EC5242;
    --light-grey:#D3D3D3;
    --grey: #4b4c4e;
    --font-main-heading:'Dela Gothic One', cursive;
    --font-heading:'Nanum Gothic';
    --font-para:'Lato';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.main-container{
    background: url(images/main-background.png) no-repeat;
    background-position: center;
    background-size:100% 100%;
}
/* navbar */
.navbar{
    padding:15px 20px;
}

.navbar div.mob-nav{
    position: relative;
    width: 47px;
    height: 40px;
    padding: 2px;
    cursor: pointer;
}
.navbar div.mob-nav .rec{
    position: absolute;
    display: block;
    width: 36px;
    height: 7px;
    background:var(--grey);
}
.rectangle{
    top:4px;
}
.rectangle1{
    top:14px;
}
.rectangle2{   
    top:24px;
}
.navbar div.nav-links ul{
    display: none;
}

/* main */

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 5% 60px 5%;
}
.main h1.hello-world{
    font-family: var(--font-heading),sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: var(--orange);

}

.main h2.banner-heading{
    background-image: url(images/header-text-bg.jpg);
    background-repeat: repeat;
    background-clip:text;
    -webkit-text-fill-color:transparent ;
    -webkit-background-clip: text;
    font-size: 1.9rem;
    line-height: 45px;
    text-transform: uppercase;
    font-family: var(--font-main-heading),sans-serif;
    font-weight:900;
    color: var(--orange);
    margin-bottom: 20px;
    
}

.main p.main-para{
    font-size: 13px;
    font-family: var(--font-heading),sans-serif;
    line-height: 22px;
    font-weight:100;
    color: var(--black);
    background-color: #f9f6f6;
    border: 3px solid #fff;
    padding: 22px;
    text-align: justify;
}

.main small.dated{
    font-family:var(--font-main-heading);
    font-size: 22px;
    color: var(--grey);
    line-height: 2rem;
    letter-spacing: .15rem;
    margin: 6px 0;
}

.main small.credits{
    font-family:var(--font-heading);
    font-size: 15px;
    font-weight: 500;
    color: var(--black);
    letter-spacing: .1rem;
    margin-bottom: 26px;
}

/* program */

.program{
    background:rgb(39, 42, 50) url(images/section2-bg.png) repeat;
    width: 100%;
}

@media only screen and (min-width:768px){
 

    .navbar div.nav-links ul{
        display: flex;
        gap: 2rem;
    }

    /* main-desktop */

    .main{
        width: 100%;
        padding: 160px 60px 60px 120px;
        
    }

    .main h2.banner-heading{
        font-size: 46px;
        line-height: 60px;         
    }
    
    .main p.main-para{
        font-size: 13px;
        line-height: 22px;
        font-weight:200;
        padding: 22px;
        width: 36rem;
    }
    
     /* program-desktop */

}